.App {
  text-align: center;
  /* background-color: #071927; */
  /* background-image: radial-gradient(circle, at top, #4C324D 2%, #071925 40%, #071925 58%); */
  background: radial-gradient(at 60% top , #4C324D 2%, #071925 40%, #071925 58%);
  min-height: 100vh;
  color: white
}
